

.score {
    color: gray
}

.gold {
    color: gold
}

#gameLink {
    text-align: center;
    border: 1px solid gray;
}

#greeting {
    position: absolute;
    left: 65%;
    top: 55%;
    background: #fff;
    width: 375px;
    height: 350px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    display: none;
}


.red {
    color: red;
}

.blue {
    color: deepskyblue;
}